@tailwind base
@tailwind components
@tailwind utilities

$bg-first: url('./first.jpg')
$bg-second: url('./second.jpg')

@layer utilities 
	.origin-container
		@apply overflow-hidden relative w-screen h-screen bg-slate-800 bg-blend-overlay bg-cover bg-center bg-fixed flex flex-col items-center justify-center text-white

		background-image: $bg-second
		animation: anim infinity 0.5s

		// @keyframes anim
		// 	0%
		// 		@apply .active
		// 	100%
		// 		@extend .active

	.glitch-active
		&::before
			content: ''
			@apply absolute w-screen h-screen bg-blend-overlay bg-cover bg-center bg-fixed

			background-image: $bg-first
			animation: anim 0.3s infinite

			@keyframes anim
				0%
					@apply border-l-green-600
					clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%)
				10%
					@apply bg-orange-500	
					clip-path: polygon(25% 0%, 100% 0%, 75% 50%, 0% 50%)
				10%
					@apply bg-cyan-500	
					clip-path: polygon(25% 0%, 100% 0%, 75% 50%, 0% 50%)	
				100%
					@apply bg-black
					clip-path: polygon(100%)
					

			
	/* Loader */
	.loader 
		width: 48px
		height: 48px
		border-radius: 50%
		display: inline-block
		border-top: 4px solid #fff
		border-right: 4px solid transparent
		box-sizing: border-box
		animation: rotation 1s linear infinite

		&::after
			content: ''
			box-sizing: border-box
			position: absolute
			left: 0
			top: 0
			width: 48px
			height: 48px
			border-radius: 50%
			border-left: 4px solid #ff3d00
			border-bottom: 4px solid transparent
			animation: rotation 0.5s linear infinite reverse

			@keyframes rotation 
				0% 
					transform: rotate(0deg)
				100% 
					transform: rotate(360deg)
							
	


	
